.dribbble{
  padding-left: 36px;
  color: #BFBFBF;
  transition: 0.3s;
}
.insta{
  padding-left: 36px;
  color: #BFBFBF;
  transition: 0.3s;
}
.behance{
  padding-right: 100px;
  padding-left: 36px;
  color: #BFBFBF;
  transition: 0.3s;
}
.dribbble:hover{
  padding-left: 36px;
  color: #fff;
  transition: 0.3s;
}
.insta:hover{
  padding-left: 36px;
  color: #fff;
  transition: 0.3s;
}
.behance:hover{
  padding-right: 100px;
  padding-left: 36px;
  color: #fff;
  transition: 0.3s;
}
#navitem1{
  color: #BFBFBF;
  padding-right: 36px; 
  padding-left: 100px;
}

#navitem2{
  padding-right: 36px;
}

#navitem3{
  padding-right: 36px; 
}


.navbar .collapse .col-4 .navbar-nav .nav-item .nav-link{
  color: #BFBFBF;
}

.navbar .collapse .col-4 .navbar-nav .nav-item .nav-link:hover{
  color: #fff;
  text-decoration: line-through;
  transition: 1s;
}


i{
  padding-left: 126px;
  height: 30%;
  width: 30%;
}

#navbar{
  padding-top: 30px;
  background-color: #333333;
}

.nav-item{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
body {
  background: #333333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.jumbotron{
  background: rgba(76, 175, 80, 0.0);
  padding-left: 150px;
  padding-top: 280px;
}
.imagewrapper{

}
.imagearea{
  perspective: 2000px;
  transform-style: preserve-3d;
  display: inline;
  position: absolute;
  left: 68%;
  top: 35%;
}
.imagearea .photo{
  transform: rotateX(70deg) rotateZ(-30deg) translate3d(0,0,70px);
  box-shadow: -60px 100px 50px 10px rgba(0,0,0,0.3);
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.imagearea:hover .photo{
  transform: rotateX(0) rotateZ(0) translate3d(0,0,0);
  box-shadow: -20px 20px 40px 2px rgba(0,0,0,0.2);
}

.intro{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 44px;
  color: #ffffff;
}
.ican{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 104px;
  color: #ffffff;
}
.name{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  color: #FF7B7B;
  font-size: 44px;
}
.change{
  color: #FF7B7B;
}


p{
  display: inline;
}
.introduction{
  width: 100%;
  height: 100vh;
}
.jumbotron{
  color: #ffffff;
}
.cta{
  margin-left: ;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #FFFFFF;
  border-width: 4px;
  color: #FFFFFF;
  border-radius: 50px;
}


.cta:hover{
  border-width: 4px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #333333;
}

}
.downArrow {
-webkit-animation: scrolling 1s ease infinite;
   -moz-animation: scrolling 1s ease infinite;
   -o-animation: scrolling 1s  ease infinite;
   animation: scrolling 1s ease infinite;
}

@keyframes scrolling {
  0% {
    transform: translate(0);
  }
 
  50% {
    transform: translate(0,20px);
}

 
  100% {
     transform: translate(0);
  }
}

.downArrow{
  color: #fff;
  text-align: center;
  align-items: center;
  position: relative;
  justify-content: center;
  padding-right: 120px;
  transition: 0.5s;
}

.about22{
  opacity: 0;
}

section{
  padding-left: 300px;
  padding-right: 300px;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
  transition: 2s;
}
section div p .key{
  color: #FF7B7B;
}
section div p .notkey{
  font-size: 20px;
  color: #BFBFBF;
}
.about2{
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
  width: 100%;
  height: 100vh;
  position: absolute; 
}
.wire{
  z-index: 10;
  left: 0;
  position: absolute;
}
.wire img{
  transform: translateX(-250px);
  padding-top: 250px;
  width: 50%;
  height: 50%;
}

.elucidator{
  height: 100vh;
  z-index: 9;
  left: 0;
  position: absolute;
}

.elucidator img{
  transform: translateX(1650px);
  width: 70%;
}

.zigzag{
}

.zigzag img{
  opacity: 0.7;
  width: 70%;
  padding-top: 800px;
  padding-left: 380px;
}


.work{
  width: 100%;
  padding-bottom: 100px;
  padding-top: 200px;

}

.workproj{
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}


.vec{
  stroke: #fff;
  filter: #fff;
  stroke-dasharray: 1200;
  opacity: 10;
  animation: animate 3s cubic-bezier(0,0.23,1,0.1);
}
@keyframes animate{
  0%{
    opacity: 0;
    fill: none;
    stroke-dashoffset:1200;
  }
  30%{
    opacity: 10;
    fill: none;
    stroke-dashoffset:1200;
  }
  90%{
    fill: rgba(255,255,255,0);
  }
  100%{
    opacity: 10;
    fill: rgba(255,255,255,1);
    stroke-dashoffset:0; 
  }

}

.container{
  width: 2000px;

  display: flex;
  justify-content: space-between;
}

.container .card{

  border-width: 0px;
  background: #333;
}

.container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1{

  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  transform: translateY(0);
}

.container .Script:hover .face.face1{
  background-image: linear-gradient(30deg,#FFDC00,#D400BD);
  transform: 0.3s;
}

.container .camp-luna:hover .face.face1{
  background: #0B192D;
  transform: 0.3s;
}

.container .camp-luna:hover .face.face1 .content svg{
  fill: #FFFDEE;
}

.container .freesia:hover .face.face1{
  background: #104032;
  transform: 0.3s;
}

.container .freesia:hover .face.face1 .content svg{
  color: #FFC41D;
}

.container .kingqueen:hover .face.face1{
  background-image: linear-gradient(30deg,#FF6666,#527FFF);
  transform: 0.3s;
}

.container .music:hover .face.face1{
  background: #BF4704;
  transform: 0.3s;
}
.container .brownbrews:hover .face.face1{
  background: #5E453B;
  transform: 0.3s;
}

.container .card .face.face1 .content{
  opacity: 0.2;
  transition: 0.5s; 
}

.container .card:hover .face.face1 .content{
  opacity: 1;
}

.container .card .face.face1 .content svg{
  width: 150px;
}

.container .card .face.face1 .content img{
  max-width: 100px;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding:0;
  color: #fff;
  font-size: 1.5em;
}

.container .card .face.face2{
  position: relative;;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
  transition: 0.3s;
}

/*.swiper-container {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 380px;
  background:#ffffff;
}
.swiper-slide .imgBx{
  widows: 100%;
  height: 300px;
  overflow: hidden;
}

.swiper-slide .imgBx img{
  widows: 100%;
}

.swiper-slide .details{
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px;
}

.swiper-slide .details h3{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
}

.swiper-slide .details h3 span{
  font-size: 16px;
  color: #FF7B7B;
}*/
.reach{
  width: 100%;
  height: 100vh;
}
.contact{
  padding-left:700px;
  padding-top: 140px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  left: 0;
  position: absolute;
}

label{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14;
  margin-top: 30px;
}

.form-control{
  background: #333333;
  border-color: #fff;
  border-width: 3px;
  color: #fff;
  border-radius: 25px;
  width: 500px;
}

.form-control:focus{
  background: #333333;
  border-color: #fff;
  border-width: 3px;
  color: #fff;
  border-radius: 25px;
  width: 500px;
  box-shadow: 0 0 4px 4px rgba(255,255,255,0.3);
}

.send{
  background: #333;
  margin-top: 30px;
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  border-color: #FFFFFF;
  border-width: 3px;
  color: #FFFFFF;
  border-radius: 35px;
}

.send:hover{
  border-width: 3px;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #333333;
}

.emailinfo{
  padding-top: 150px;
  margin-top: 30px;
  color: #fff;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.emailinfo .ema{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  text-decoration: underline;
}

.item{
  transform: translateX(-1300px);
  height: 100vh;
}

#blobe{
  width: 100%;
  height: 100vh;
  left: 0;
  position: absolute;
}